<app-main-layout>
  <div class="container">
    <div class="row">
      <h1>Fields</h1>
    </div>
    <div class="row">
      <div>
        <div class="mb-3 row">
          <label class="col-sm-1 col-form-label">Search</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>JSON</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>TEXT</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>JSON</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-main-layout>